@model IEnumerable<EmployeeDTO>

@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>

<br />
<br />

<a asp-controller="Employee" asp-action="Create" class="btn btn-primary"> Create New Employee</a>

@if(Model.Count()>0)
{
    <table class="table table-striped table-hover mt-4">
        <thead class=" text-center">
            <tr>
                <th>@Html.DisplayNameFor(E => E.Name)</th>
                <th>@Html.DisplayNameFor(E => E.Email)</th>
                <th>@Html.DisplayNameFor(E => E.EmployeeType)</th>
                <th>@Html.DisplayNameFor(E => E.Age)</th>
                <th>@Html.DisplayNameFor(E => E.salary)</th>
                <th>@Html.DisplayNameFor(E => E.IsActive)</th>
                <th>@Html.DisplayNameFor(E => E.Gender)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>

        </thead>

        <tbody class="text-center">
            @foreach(var emp in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(e=>emp.Name)</td>
                    <td>@Html.DisplayFor(e => emp.Email)</td>
                    <td>@Html.DisplayFor(e => emp.EmployeeType)</td>
                    <td>@Html.DisplayFor(e => emp.Age)</td>
                    <td>@Html.DisplayFor(e => emp.salary)</td>
                    <td>@Html.DisplayFor(e => emp.IsActive)</td>
                    <td>@Html.DisplayFor(e => emp.Gender)</td>

                    <partial name="_ButtonsPartial" model="emp.Id" />
                  
                </tr>
                <div class="modal fade" id="DeleteEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Employee</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h4 class="modal-title fs-5" id="exampleModalLabel">Are U Sure To Delete @emp.Name Employee?</h4>

                            </div>
                            <div class="modal-footer">
                                <form asp-action="Delete" method="post" asp-route-EmpId="@emp.Id">
                                    <div asp-validation-summary="ModelOnly"></div>
                                    <div class="mt-4">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            }

        </tbody>

    </table>
}
else
{
    <div class="alert alert-info mt-3">
        <h3>There is No Employees</h3>
    </div> 
}

<!-- Modal -->
